<section #aboutRoot class="about" id="about" aria-label="Animated background">
    <canvas #bgCanvas class="about-canvas" aria-hidden="true"></canvas>

    <section class="section-description">
        <div class="div-title">
            <span class="title"><span>01.</span> Abot Me</span>
        </div>

        <div class="text">
            <span>
                In <span class="bold-color">+10 years of experience</span> I have covered many roles: <span
                    class="bold-color">Systems Analyst</span>,
                <span class="bold-color">Backend Developer</span>, <span class="bold-color">Frontend
                    Developer</span>, and <span class="bold-color">Technical Lead</span>. I love contributing my
                knowledge to create new things that
                help solve
                problems.
            </span>

            <span>
                My capabilities also include implementing system improvements, optimizing sites, standardizing patterns,
                and suggesting and executing ideas that add value to the project I am working on.
            </span>

            <span>
                I also program things for my personal use, whether for hobby or utility.
            </span>

            <span>
                Some of the technologies I have trained and worked with include (but are not limited to):
            </span>
        </div>

    </section>
</section>