<section #aboutRoot class="about" id="about" aria-label="Animated background">
    <canvas #bgCanvas class="about-canvas" aria-hidden="true"></canvas>

    <section class="section-description">
        <div class="div-title">
            <span class="title"><span>01.</span> Abot Me</span>
        </div>

        <div class="media">
            <div class="left">
                <div class="text">
                    <span>
                        In <span class="bold-color">+5 years of experience</span> I have covered many roles:
                        <span class="bold-color">Systems Analyst</span>,
                        <span class="bold-color">Backend Developer</span>,
                        <span class="bold-color">Frontend Developer</span>,
                        and <span class="bold-color">Teaching Programming</span>. I love contributing my knowledge to
                        create
                        new things
                        that help solve problems.
                    </span>

                    <span>
                        My capabilities also include implementing system improvements, optimizing sites, standardizing
                        patterns,
                        and suggesting and executing ideas that add value to the project I am working on.
                    </span>

                    <span>I also program things for my personal use, whether for hobby or utility.</span>

                    <span>Some of the technologies I have trained and worked with include (but are not limited
                        to):</span>
                </div>

                <ul class="skills-list" role="list">
                    <li><span>Angular</span></li>
                    <li><span>RxJS</span></li>
                    <li><span>HTML &amp; (S)CSS</span></li>
                    <li><span>C#</span></li>
                    <li><span>React</span></li>
                    <li><span>Next.Js</span></li>
                    <li><span>JavaScript</span></li>
                    <li><span>TypeScript</span></li>
                    <li><span>CI / CD</span></li>
                    <!-- <li><span>CleanArchitecture</span></li> -->
                </ul>

                <div class="div-title-architecture">
                    <span>
                        Some of the architecture I have trained and worked
                    </span>
                </div>

                <ul class="skills-list" role="list">

                    <li><span>CleanArchitecture</span></li>
                </ul>
            </div>

            <div class="photo">
                <div class="photo-frame">
                    <img src="/assets/images/mePhoto1.png" alt="Arshiya Rezaie" loading="lazy" />
                </div>
            </div>
        </div>
    </section>

    <app-experience />
    <app-proyects />
    <app-contact />
</section>