<section class="section banner">
    <video class="banner-video" autoplay muted playsinline loop preload="metadata" disablepictureinpicture>
        <source src="/assets/videos/banner-video2.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
    </video>

    <div class="top-title">
        <span>Hello! My name is</span>
        <span>Arshiya Rezaie</span>
        <span>Software Developer</span>
    </div>

    <div class="center-description">
        <span>
            I have <span>+10 years of experience</span> developing systems, interfaces, bots, and technological
            solutions to make the web a better place. I am dedicated to writing and refactoring clean, reusable,
            and scalable code in <span>Angular</span> and <span>Laravel</span>, applying good practices and
            development standards.
        </span>
    </div>
</section>